body {
    margin: 20px;
    font-family: Kanit;
  }
  
  .container {
    max-width: 600px;
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  #attendance-items {
    list-style-type: none;
    padding-left: 0;
  }
  
  .table-container {
    max-height: 300px; /* Adjust the max-height as needed */
    overflow-y: auto;
  }
  
  .table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Set the desired background color */
  }
  