<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel='stylesheet' type='text/css'>
    <script type='text/javascript' src="{{ url_for('static', filename='script/script.js') }}"></script>

</head>
<body class="grid-container">
    <a class="grid-item upper-pad grid0">Data Table</a>
    <a href="names/0" class="grid-item grid1 title" id="title1">Information</a>
    <a href="createidentity" class="grid-item grid2 title" id="title2">Register</a>
    <a href="queues/00000" class="grid-item grid3 title" id="title3">Registation Queues</a>
</body>
</html>
