<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
      

</head>

<body>
    <ul>
        <li><a href="/" style="font-size: 52px; font-weight:bold;">Home</a></li>
        <li><button onclick="window.history.back()">back</a></li>
    </ul>

    <div class="container" id="container">
        <div class="image_box" id="image_box">
        <img src={{profile_image}} alt="Student Photo" loading="lazy">
        </div>
        <div class="text-info">
            {% if student["realname"] %}
            <p style="font-size: 32px; font-weight:bolder; line-height:.5;">{{ student["realname"] }} {{ student["surname"] }}</p>
            {% else %}
            <p>Name: {{ idd }}</p>
            {% endif %}

            {% if student["nickname"] %}
            <p>Nickname: {{ student["nickname"] }}</p>
            {% else %}
            <p>Nickname: -</p>
            {% endif %}

            {% if student["student_id"] %}
            <p>Student Number: {{ student["student_id"] }}</p>
            {% else %}
            <p>Student Number: -</p>
            {% endif %}

            {% if student["student_class"] %}
            <p>Class: {{ student["student_class"] }}</p>
            {% else %}
            <p>Class: -</p>
            {% endif %}

            {% if student["class_number"] %}
            <p>Class Number: {{ student["class_number"] }}</p>
            {% else %}
            <p>Class Number: -</p>
            {% endif %}
        </div>
    </div>

<div class="chart">
  <canvas id="arrival-times-chart"></canvas>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

    <script src="{{url_for('static', filename='script/students_script.js')}}"></script>
</body>

</html>